@font-face {
    font-family: 'Passero';
    src: url(../fonts/passero-one-cyrillic.ttf);
}
#map {
    height: calc(100vh - 20px);
    width: 100%;
 }

body.index{
    margin: 0px auto;
    padding: 0px auto;    
}

h1,h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}

ul{
    padding: 0px;
    margin: 0px;
}

li{
    list-style: none;
}

a{
    padding: 0px;
    margin: 0px auto;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    color:rgb(255, 255, 255);
    text-shadow: 0.2px 0.2px 0px rgb(0, 0, 0);
    font-size: 33px;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

nav{
    margin-top: 0px;
    position: absolute;
    font-family: 'Passero';
    font-size: 30px;
    
    letter-spacing: 5px;
    z-index: 100;
    top: 0;
    width: 100%;
}

.nav_link{
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    
    border-radius: 50px;
} 

.navs{
    display: flex;
    justify-content: space-around;
    align-items:center;
    background: radial-gradient(circle, rgba(255, 136, 0, 0.74),rgba(190, 0, 95, 0.699));
    border-radius: 0px 0px 50px 50px;
    margin: 0px auto;
}
.logo a{
    display: flex;
    align-items: center;
}
